@include mobile{
    main{
        section{
            h2{
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
                padding: 5px;
                margin: 10px;
                font-weight: bold;
                color:#5b3a29;
            }
        }
        section{
            .image-container{
                display: flex;
                flex-direction: column;
                
            }   
            .imagenReceta{
                height:250px;
                width: 100%;
                margin:auto;
                padding: 10px;
            }

        }

        section{
            color:#5b3a29;
            h5{
                font-family: 'Courier New', Courier, monospace;
                margin-left: 30px;
                text-decoration: underline;
            }
        }
        
    }
}

@include tablet{
    main{
        section{
            h2{
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
                padding: 5px;
                margin: 10px;
                font-weight: bold;
                color:#5b3a29;
            }
        }
        section{
            .image-container{
                display: flex;
                flex-direction: column;
                
            }   
            .imagenReceta{
                height:250px;
                width: 100%;
                margin:auto;
                padding: 10px;
            }

        }

        section{
            h5{
                color:#5b3a29;
                font-family: 'Courier New', Courier, monospace;
                margin-left: 30px;
                text-decoration: underline;
                
            }
        }
        
    }

}

@include desktop{
    main{
        h1{ 
            .titles{
                color:#d9b076!important;
            }
        }
        section{
            h2{
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
                padding:5px;
                margin:10px;
                font-weight: bold;
                color:#5b3a29;
            }
        }
        section{
            .image-container{
                display:flex;
                flex-direction: row;
            }
            .imagenReceta{
                height: 250px;
                width: 350px;
                margin: 10px;
                padding: 5px;
                align-items: center;
            }
        }
        section {
            color:#5b3a29;
            h5{
                font-family: 'Courier New', Courier, monospace;
                text-decoration: underline;
                margin-left: 30px;
            }
        }
        
    }
}