@include mobile
{
   main{
        
      .bg-img{
        background-image: url("../../images/chocolate-negro.jpg");
        background-size: cover;
        width: 100%;
        margin-top:-160px;
        margin-bottom: -50px;
        position:relative;
        &::before{
            content:"";
            position:absolute;
            width: 100%;
            height: 100%;
            background-color:white;
            opacity:0.4;
        }

        form{
            margin-top: 100px;
            position:relative;
            
            .form-group{
                margin:20px;
    
            }
            .btn-submit{
                margin-left: 20px;
                background-color: #5b3a29;
                border-color: #5b3a29;
                color:white;
                padding:5px;
                margin-bottom: 50px;
                margin-top:10px;
                width: 75px;
                border-radius: 7%;   
            }
        }
        label{
            color:white;
           
          
          } 
        
      }

    }
}

@include tablet
{
   main{
        
      .bg-img{
        background-image: url("../../images/chocolate-negro.jpg");
        background-size: cover;
        width: 100%;
        margin-top:-160px;
        margin-bottom: -50px;
        position:relative;
        &::before{
            content:"";
            position:absolute;
            width: 100%;
            height: 100%;
            background-color:white;
            opacity:0.4;
        }

        form{
            margin-top: 100px;
            position:relative;
            
            .form-group{
                margin:20px;
    
            }
            .btn-submit{
                margin-left: 20px;
                background-color: #5b3a29;
                border-color: #5b3a29;
                color:white;
                padding:5px;
                margin-bottom: 50px;
                margin-top:10px;
                width: 75px;
                border-radius: 7%;   
            }
        }
        label{
            color:white;
           
          
          } 
        
      }

    }
}

@include desktop
{
   main{
            section{
                h1{
                    .titles1{
                        color:#5b3a29;
                        margin-bottom: 10px; 
                    }
                }
            }
            .bg-img{
                background-image: url("../../images/chocolate-negro.jpg");
                background-size: cover;
                position:relative;
                margin-top: -160px;
                margin-bottom: -50px;
                &::before{
                    content:"";
                    position:absolute;
                    width: 100%;
                    height: 100%;
                    background-color:white;
                    opacity:0.4;
                }

            }   
            .container-ppal{
                display: flex;
                justify-content: center;
                margin: 20px;
            }
            form{
                width: 500px;
                height: 500px;
                margin-bottom: 50px;
                .form-contenedor{
                    margin:20px;
                }
                .form-group{
                    margin:20px;
                    position: relative;
        
                }
                .btn-submit{
                    margin-left: 20px;
                    background-color: #5b3a29;
                    border-color: #5b3a29;
                    color:white;
                    padding:5px;
                    margin-bottom: 50px;
                    margin-top:10px;
                    width: 75px;
                    border-radius: 7%;
                    position: relative;   
                }
            }
            label{
                color:white;
               
              
              } 
     }


}
