@include mobile{
    main{
        section{
            .card-container{
                display: flex;
                flex-direction: column;
                margin-top: 100px;
                margin-bottom: 100px;
                gap: 30px;
            }
            .card{
                margin:auto;
                
                div{
                    backface-visibility: hidden;
                    transition: 1s;
                    transform-style: preserve-3d;
                }
                .card-front{
               
                    position:relative;
                    .rectangulo{
                        height: 60px;
                        width: 50px;
                        background-color:#0081ff;
                        border-radius: 5%;
                        position:absolute;
                        right: 0;
                        margin-right: 10px;
                    }
                    .fecha{
                        color:white;
                        text-align: center;
                        margin:auto;
                    }
                    transform:perspective(500px) rotateY(0deg);
                    .card-body{
                        .card-text{
                            font-size: 20px;
                        }
                        .ubicacion{
                            display: flex;
                            flex-direction: row;
                            span{
                                color:gray;
                            }
                        }
                    }
                }
                .card-back{
                    position:absolute;
                    width: 100%;
                    height: 100%;
                    background-color:#5b3a29;
                    border-radius: 2%;
                    transform:perspective(500px)rotateY(180deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .card-text{
                        font-size: small;
                        color: white;
                        text-align: center;
                    }
                   div{
                        background-size:cover;
                       
                   }
                }
                &:hover{
                    .card-front{
                        transform:perspective(500px)rotateY(180deg);
                    }
                    .card-back{
                        transform:perspective(500px)rotateY(360deg);
                    }
                }

            }

            
            

        }


    }
}


  



@include tablet{

    main{
        section{
            .card-container{
                display: flex;
                flex-direction: column;
                margin-top: 100px;
                margin-bottom: 100px;
                gap: 30px;
            }
            .card{
                margin:auto;
                
                div{
                    backface-visibility: hidden;
                    transition: 1s;
                    transform-style: preserve-3d;
                }
                .card-front{
               
                    position:relative;
                    .rectangulo{
                        height: 60px;
                        width: 50px;
                        background-color:#0081ff;
                        border-radius: 5%;
                        position:absolute;
                        right: 0;
                        margin-right: 10px;
                    }
                    .fecha{
                        color:white;
                        text-align: center;
                        margin:auto;
                    }
                    transform:perspective(500px) rotateY(0deg);
                    .card-body{
                        .card-text{
                            font-size: 20px;
                        }
                        .ubicacion{
                            display: flex;
                            flex-direction: row;
                            span{
                                color:gray;
                            }
                        }
                    }
                }
                .card-back{
                    position:absolute;
                    width: 100%;
                    height: 100%;
                    background-color:#5b3a29;
                    border-radius: 2%;
                    transform:perspective(500px)rotateY(180deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .card-text{
                        font-size: small;
                        color: white;
                        text-align: center;
                    }
                   div{
                        background-size:cover;
                       
                   }
                }
                &:hover{
                    .card-front{
                        transform:perspective(500px)rotateY(180deg);
                    }
                    .card-back{
                        transform:perspective(500px)rotateY(360deg);
                    }
                }

            }

            
            

        }


    }

}
@include desktop{
    main{
        h1{
            .titles{
                color:#d9b076!important;
            }
        }
        section{
            .card-container{
                display: flex;
                flex-direction: row;
                margin-top: 100px;
                margin-bottom: 100px;
                gap: 30px;
            }
            .card{
                margin:auto;
                
                div{
                    backface-visibility: hidden;
                    transition: 1s;
                    transform-style: preserve-3d;
                }
                .card-front{
               
                    position:relative;
                    .rectangulo{
                        height: 60px;
                        width: 50px;
                        background-color:#0081ff;
                        border-radius: 5%;
                        position:absolute;
                        right: 0;
                        margin-right: 10px;
                    }
                    .fecha{
                        color:white;
                        text-align: center;
                        margin:auto;
                    }
                    transform:perspective(500px) rotateY(0deg);
                    .card-body{
                        .card-text{
                            font-size: 20px;
                        }
                        .ubicacion{
                            display: flex;
                            flex-direction: row;
                            span{
                                color:gray;
                            }
                        }
                    }
                }
                .card-back{
                    position:absolute;
                    width: 100%;
                    height: 100%;
                    background-color:#5b3a29;
                    border-radius: 2%;
                    transform:perspective(500px)rotateY(180deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .card-text{
                        font-size: small;
                        color: white;
                        text-align: center;
                    }
                   div{
                        background-size:cover;
                       
                   }
                }
                &:hover{
                    .card-front{
                        transform:perspective(500px)rotateY(180deg);
                    }
                    .card-back{
                        transform:perspective(500px)rotateY(360deg);
                    }
                }

            }

            
            

        }


    }
    
}